@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic);

html {
  overflow-y: scroll; // Keeps page centered in all browsers regardless of content height
}

body {
  color: $base-text-color;
  font-family: $base-font-family;
  @include font-size(1.6);
}

b, strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6,
hgroup, ul, ol, dl, blockquote,
p, address, table, fieldset, figure, pre,
article, iframe {
  padding: 0;
  margin-top: 0;
  @include rem('margin-bottom', 24px);
}

a {
  // link-colors(normal, hover, active, visited, focus)
  @include link-colors($color-orange, $color-dark-orange, $color-orange, $color-orange, $color-orange);
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
