.post,
.entry-meta, .entry-head, .entry-title, .entry-sub-title, .entry-content, .hero,
.comment, .comment-navigation, #accept_paypal_payment_form,
.hero-wrapper {
  margin-top: 0;
  @include rem('margin-bottom', 24px);
}

.page-title,
.entry-title {
  @include font-size(3.4);
}

.home-title,
.entry-sub-title {
  @include font-size(2.4);
}

.sticky {
}

.hentry {
  margin: 0 0 1.5em;
}

.updated {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-content > :last-child {
  margin-bottom: 0;
}

.dog-carousel {
  height: 336px;
  border: 1px solid #ccc;
}
.carousel-control:visited {
  color: white;
}

/* Individual Dog Block */
.dog-block {
  border: 1px solid #ccc;
  background: #eee;
  @include font-size(1.4, 1);
  @include rem('padding', 6px);
  @include rem('margin-bottom', 24px);
  .dog-title, .dog-status, .dog-gender, .dog-age {
    display: block;
    @include rem('margin-bottom', 3px);
  }
  .dog-thumb {
    @include img-border();
    height: 132px;
    width: 100%;
  }
  .dog-title {
    a {
      @include font-size(2.0, 1);
    }
  }
  .dog-status {
    .label {
      display: block;
      width: 100%
    }
  }
  .dog-description {
    margin-bottom:0;
  }
}
.dog-grid {
  .dog-block {
    .dog-thumb {
      height: 102px;
    }
  }
}

#rmcr-form {
  height: 550px;
  width: 100%;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

.wp-caption-text {
  text-align: center;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
}

.hero-wrapper {
  background: url("images/hero-bg.png") repeat-x 0 -140px;
}

.hero {
  border: 3px solid white;
  border-width: 3px 3px 0 3px;
  margin-bottom: 0;
}

#breadcrumbs {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

.page-hero {
  border: 2px solid #ccc;
  max-height: 200px;
  width: 100%;
  margin-bottom: 24px;
  /*margin-bottom: 12px;*/
  /*margin-bottom: 1.2rem;*/
}
#breadcrumbs {
  /*background: #d1d1d1;*/
  /*border-bottom: 1px solid #c1c1c1;*/
  font-size: 14px;
  font-size: 1.4rem;
  padding-left: 12px;
  padding-left: 1.2rem;
}

a.btn {
  color: #ffffff;
}

img.full-width {
  width: 100%;
}

.rmcr-form {
  border: 2px solid #aaa;
  width: 100%;
  height: 500px;
}

.site-header {
  border-top: 5px solid #6F16CA;
  padding-top: 24px;
  padding-top: 2.4rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

.archive .entry-title {
  /*margin-bottom: 6px;*/
  /*margin-bottom: .6rem;*/
  margin-bottom: 0;
}
.archive .entry-meta {
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

/*.archive .cat-links a:active,*/
/*.archive .cat-links a:visited {*/
/*color: #d17105;*/
/*}*/

.byline,
.posted-on {
  color: #888;
  font-size: 14px;
  font-size: 1.4rem;
}

/*.byline a,*/
/*.byline a:hover,*/
/*.byline a:active,*/
/*.byline a:visited {*/
/*color: #888;*/
/*}*/

.byline {
  padding-right: 5px;
}

.posted-on:before {
  content: "•";
  display: inline-block;
  padding-right: 5px;
}

/*.entry-title a,*/
/*.entry-title a:hover,*/
/*.entry-title a:active,*/
/*.entry-title a:visited {*/
/*color: #414141;*/
/*}*/


.archive .entry-thumb {
  height: 150px;
  width: 100%;
  border: 1px solid #ccc;
}

.archive article.post {
  border-bottom: 1px solid #e4e4e4;
  /*padding-bottom: 24px;*/
  /*padding-bottom: 2.4rem;*/
}

.archive article.post p {
  margin-bottom: 0;
}

.read-more {
  display: block;
  margin-top: 12px;
  margin-top: 1.2rem;
}

.hide {
  display: none;
}

.page-header {
  border: none;
}

.dog-carousel {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

.home-title {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

.dog-slider {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

#slides {
  display: none;
}

.bottom-footer {
  background-color: #313131;
  color: #bdbdbd;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 24px 0;
  padding: 2.4rem 0;
}

.bottom-footer p {
  margin-bottom: 0;
}

/*.navbar > ul > li > a {*/
/*color: #414141;*/
/*font-weight: bold;*/
/*}*/

/*.navbar > ul > li > a:visited,*/
/*.navbar > ul > li > a:hover {*/
/*color: #414141;*/
/*}*/


.site-content .row .col-md-9 {
  /*background-color: #f1f1f1;*/
  /*border: 1px solid #ddd;*/
  /*border-radius: 5px;*/
  /*border-radius: .5rem;*/
}

/*#breadcrumbs a {*/
/*text-decoration: underline;*/
/*}*/
