$base-text-color: #212121;
$base-navbar-link-text-color: #555555;
$sub-nav-divider-color: #aaa;
$base-font-family: Cabin, sans-serif;

$color-orange: #ff8f12;
$color-dark-orange: #d17105;
$color-blue: #ff8f12;
$color-grey: #aaa;
$color-dark-grey: #888;
$color-darker-grey: #555;

$default-font-size-value: 1.6;
$default-line-height: 1.5;
$default-margin-value: $default-font-size-value * $default-line-height;

$widget-img-border-color: #ccc;
$post-divider-color: #ddd;