/* General */
.widget {
  @include rem('margin', (0, 0, 24px));
}

.widget-header,
.widget-title,
.widget-sub-header,
.widget-sub-title,
.widget-img,
.widget-p {
  @include rem('margin-bottom', 12px);
}

.widget-header {
}

.widget-title {
  display: block;
  @include rem('font-size', 24px);
  > a {
    color: $base-text-color;
    &:hover {
      text-decoration: none;
    }
  }
}

.widget-sub-header {
}

.widget-sub-title {
  display: block;
  @include rem('font-size', 20px);
}

.widget-img {
  border: 2px solid $widget-img-border-color;
}

.widget-p {
}

/* Recent Posts */
.tw-recent-posts {
  .featured-post {
    border-bottom: 1px solid $post-divider-color;
    margin: 0 0 12px !important;
    margin: 0 0 1.2rem !important;
    &:last-child {
      border-bottom: none;
    }
    h4 {
      font-size: 20px !important;
      font-size: 2.0rem !important;
      margin: 0 0 6px !important;
      margin: 0 0 .6rem !important;
      a {

      }
    }
    img {
      @include img-border();
      margin: 0 12px 0 0 !important;
      margin: 0 1.2rem 0 0 !important;
    }
    .read-more {
      clear: right;
      display: inline-block;
      float: right;
      @include rem('margin-bottom', 12px);
    }
  }
}

/* Footer Menus */
.footer-widget {
  border-top: 1px solid #757575;
  @include rem('padding-top', 12px);
  .widget-title {
    @include font-size(1.4);
  }
  .menu {
    a {
      color: $footer-menu-link-color;
    }
  }
  #menu-social-media {
    a {
      color: $base-link-color;
    }
  }
}

.footer-col ul,
.footer-col ol {
  list-style: none;
}

.footer-widget ul {
  list-style: none;
  margin: 0 0 24px 0;
  margin: 0 0 2.4rem 0;
}

/* Donation/Adoption Banners */

.banner-widget-img {
  width: 100%;
}

/* Events */
.gce-widget-list {

  .gce-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .event-start-date,
  .event-end-date,
  .event-location,
  .event-start-date,
  .event-description {
    display: none;
  }

  .event-title {
    margin-bottom: 12px;
    margin-bottom: 1.2rem;
  }

}
.gce-list-event {
  background-color: transparent;
}

/* MailChimp for WordPress */
.widget_mc4wp_widget {

  .mc4wp-form label {
    display: none;
  }

  .mc4wp-form input {
    margin-bottom: 6px;
    margin-bottom: .6rem;
  }

  .subscribe-fname,
  .subscribe-lname {
    width: 49%;
  }

  .subscribe-email {
    width: 100%;
  }

}




/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
  display: none;
}

.event-promotion-widget {
  background-color: gold;
  min-height: 150px;
  min-width: 100%;
}

